@media (max-width:1024px){
    html{
        font-size: 13px;
    }
    .introduce{
        flex-direction: column;
    }
    .introduce div{
        margin-bottom: 30px;
    }

}
@media(max-width:740px){
    .hide-on-mobile{
        display: none;
    }
    .btn-area{
        align-items: center;
        width: 100%;
    }
    .header{
        justify-content: center;
    }
}